{% extends 'layout.html' %}

{% block conteudo %}
<form action="{{url_for('create_tarefa')}}" method="post">
    <label for="name"> titulo da tarefa</label> 
    <input type="name" name="nome" placeholder="Digite o titulo">
    <label for="texto"> conteudo da tarefa</label> 
    <input type="name" name="conteudo" placeholder="Digite o conteudo">
    <label for="data">Data de criação:</label>
    <input type="date" name="data" value="dd/mm/yyyy">
    <label for="limit_data">Data limite:</label>
    <input type="date" name="limit_data" aria-valuemax="dd/mm/yyyy">
    
    <button>Enviar</button>
</form>
{% endblock %}