<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>


        <header>
            <h1>Sistema de Gerenciamento de Doações</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Início</a></li>
                    <li><a href="{{ url_for('doador') }}">Doadores</a></li>
                    <li><a href="{{ url_for('campanhas') }}">Campanhas</a></li>
                    <li><a href="{{ url_for('adicionar_doador') }}">Adicionar Doador</a></li>
                    <li><a href="{{ url_for('adicionar_campanha') }}">Adicionar Campanha</a></li>
                </ul>
            </nav>
        </header>

    <div class="container">
        {% block content %}
        <!-- Conteúdo principal será inserido aqui -->
        {% endblock %}
    </div>

    <footer>
    </footer>
</body>
</html>