{% extends 'layout.html' %}

{% block conteudo %}
    <form action="{{url_for('editar', id=tarefa['id'])}}" method="post">
        <label for="name"> titulo da tarefa</label> 
        <input type="name" name="titulo" value="{{ tarefa['titulo'] }}">
        <label for="texto"> conteudo da tarefa</label> 
        <input type="name" name="conteudo" value="{{ tarefa['conteudo'] }}">
        
        <label for="limit_data">Data limite:</label>
        <input type="date" name="limit_data" value="{{ tarefa['limit_data'] }}">

        <label for="status">Status:</label>
        <select name="status">
            <option value="Pendente">Pendente</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluída">Concluída</option>
        </select>
        <div class="butao">
            <button>Editar</button>
        </div>
    </form>
{% endblock %}