{% extends 'layout.html' %}

{% block conteudo %}

<div class="lista_d_tarefas">
    <h1 class="tarefas">Tarefas da Categoria {{ categoria_id }}</h1>  <!-- Exibe a categoria -->

    <form method="GET" action="{{ url_for('ver_tarefa') }}">
        <label for="status">Status:</label>
        <select name="status">
            <option value="" class="">Todos</option>
            <option value="Pendente" {% if status_filter == 'Pendente' %}selected{% endif %}>Pendente</option>
            <option value="Em andamento" {% if status_filter == 'Em andamento' %}selected{% endif %}>Em andamento</option>
            <option value="Concluída" {% if status_filter == 'Concluída' %}selected{% endif %}>Concluída</option>
        </select>
        
        <button type="submit">Filtrar</button>
    </form>

    <div class="blocos_de_trefas">
        {% for tarefa in tarefas %}
            <div class="tarefinhas">
                <h3>{{ tarefa['titulo'] }}</h3>
                <h3>{{ tarefa['conteudo'] }}</h3>
                <h3>{{ tarefa['categoria'] }}</h3>
                <h3 class="datas">Data Inicial: {{ tarefa['data']}}</h3>
                <h3 class="datas">Data Limite:{{ tarefa['limit_data']}}</h3>
                <h3>Status: {{ tarefa['status'] }}</h3>
                
                <form action="{{ url_for('delete_user', id=tarefa['id']) }}" method="post">
                    <button type="submit">Apagar</button>
                </form>
                <form action="{{ url_for('editar', id=tarefa['id']) }}" method="post">
                    <button type="submit">Editar</button>
                </form>
            </div>
        {% else %}
            <p class="tarefas">Nenhuma tarefa encontrada para esta categoria.</p>  <!-- Mensagem caso não haja tarefas -->
        {% endfor %}
    </div> 
    <h2><a href="{{ url_for('create_tarefa', categoria=categoria_id) }}" class="tarefas">criar tarefas</a></h2>
</div>

<h2><a href="{{ url_for('index') }}">Página Inicial</a></h2>
{% endblock %}